<body>
<div class="card" style="width: 24em; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); padding: 10px;">

    <!-- <div *ngIf="message" class="alert alert-warning alert-dismissible show" role="alert">
        <strong>Opps</strong> {{message}}
        <button type="button" class="btn-close" (click)="dismissAlert()" aria-label="Close"></button>
    </div> -->
    <h4 class="card-header">Registration Form</h4>
    <div class="card-body">

    <form [formGroup]="userForm" (ngSubmit)="onSubmit()" class>

        <div class="form-group">
            <label for="firstName" class="form-label">Name</label>
            <input id="firstName" type="text" formControlName="firstName" class="form-control">
        </div>

        <div class="form-group">
            <label for="lastName" class="form-label">Surname</label>
            <input id="lastName" type="text" formControlName="lastName" class="form-control">
        </div>

        <div class="form-group">
            <label for="email" class="form-label"> Email</label>
            <input id="eamil" type="text" formControlName="email" class="form-control" required>
        </div>

        <div class="form-group">
            <label for="password" class="form-label"> Password</label>
            <input id="password" type="password" formControlName="password" class="form-control">
        </div>

        <button type="submit" [disabled]="!userForm?.valid" class="btn btn-primary" style="margin: 10%">Submit</button>

        <br />
        <a [routerLink]='["/login"]' routerLinkActive="active">Have an account? Log in here</a>

    </form>
    </div>
</div>
</body>
