<app-search *ngIf="showSongForm" (songFormClose)="songFormClose($event)" [song]="currentSong"></app-search>


<div class="container" style="height: 60vh;">

  <div class="row"> <!-- Row 1 buttons -->
    <div class="col" style="padding: 2em;">

      <button (click)="openAddSong()" *ngIf="!showSongForm" class="btn btn-lg btn-outline-primary">Add Song</button>
      <!-- <button (click)="openEditSong()" *ngIf="!showSongForm" [disabled]="!currentSong"class="btn btn-lg btn-outline-success">Favourite</button> -->

    </div>
  </div>

  <div class="row"> <!-- Row 2 song list -->
    <div class="col overflow-auto" style="height: 500px;">
      
      <div *ngIf="!showSongForm" class="row">
        <app-song-row *ngFor="let s of songList" [song]="s" (click)='clicked(s)' (getSongs)="getSongs()"></app-song-row>
      </div>

    </div>
  </div>
</div>

<div class="row bg-dark" style="height: 30vh;">
  <div class="col">
    <app-song-details *ngIf="currentSong" [song]="currentSong" style="color: white;"></app-song-details>
  </div>
</div>