<div class="row" style="height: 6em; padding: 2rem;">
  <div class="col">
    <h6> {{song.title}} by {{song.artists}}</h6>
  </div>
  <!-- <div class="col">
    <button class="btn btn-lg btn-outline-primary">Heart</button>
  </div>
  <div class="col">
    <button class="btn btn-lg btn-outline-danger">X</button>
    </div> -->
</div>

<!-- <button (click)="openEditSong()" *ngIf="!showSongForm" [disabled]="!currentSong"class="btn btn-lg btn-outline-primary" style="margin: 1em;">Favourites</button>
<button (click)="deleteSong()" *ngIf="!showSongForm" [disabled]="!currentSong" class="btn btn-lg btn-outline-danger">Remove</button> -->



